{% extends "admin/base.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}">
{% endblock %}

{% block coltype %}colS{% endblock %}

{% block title %}{{ title }} | {{ site_title }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'index' %}">{{ site_header }}</a></h1>
{% endblock %}

{% block bodyclass %}{% endblock %}

{% block usertools %}
<div id="user-tools">
	{% if user.is_authenticated %}
		{% trans 'Welcome,' %}
		<strong>{% firstof user.get_short_name user.get_username %}</strong>.
		{% if user.is_staff %}
			<a href="{% url 'admin:index' %}">Адміністрування</a> /
		{% endif %}
		<a href="{% url 'list' %}">Мій вибір</a> /
		<a href="{% url 'logout' %}">{% trans 'Log out' %}</a>
	{% else %}
		{% block welcome-msg %}{% endblock %}
		<a href="{% url 'login' %}">{% trans 'Log in' %}</a>
	{% endif %}
</div>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <article>
		<section>
			<h2>Тут є можливість:</h2>
			<ul>
				<li>Дізнатися більше про проект</li>
				<li>Зареєструватися в якості студента</li>
				<li>Зареєструватися в якості ментора</li>
				<li>Зареєструватися в якості роботодавця</li>
				{% if user.is_authenticated %}
					<li><a href="{% url 'list' %}">Обрати курс або стажування</a></li>
				{% endif %}
			</ul>
		</section>
		{% if promo %}
		<section>
			<h2>Ми рекомендуємо нові можливості:</h2>
			<ul>
				{% for opp in promo %}
					<li><b><a href="{{ opp.get_absolute_url }}">{{ opp.name }}</a></b> від {{ opp.employer.company }}</li>
				{% endfor %}
			</ul>
		</section>
		{% endif %}
	</article>
</div>
{% endblock %}
